/**
 * WordPress dependencies
 */
import { BlockControls } from '@wordpress/block-editor';

/**
 * Block toolbar in the editor.
 *
 * @param {Object} props Block props, from edit.js.
 * @returns {Element} Element to render.
 */
export default function Toolbar( props ) {
	return <BlockControls></BlockControls>;
}
